@import url('https://fonts.googleapis.com/css2?family=Geomanist:wght@400;700&display=swap');

body {
    font-family: 'Geomanist', sans-serif;
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 0;
}

h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

h1:hover {
    color: #00ff00;
}

.footer-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: filter 0.3s ease;
}

.footer-logo:hover {
    filter: drop-shadow(0 0 10px #00ff00);
}

.footer h5 {
    color: #00ff00;
    margin-bottom: 15px;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer ul li:hover, .footer p:hover {
    color: #00ff00;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #00ff00;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
 
span{
    color:#00ff00;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    
    .footer {
        text-align: center;
    }
    
    .footer-logo {
        margin: 0 auto 20px;
        display: block;
    }
}